<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddwuproj.dao.SearchMapper">
    <select id="getAllCarTriage" resultType="com.ddwuproj.dto.CarTriage">
        select *
        from "CarTriage"
    </select>
    <select id="getCarTriageList" parameterType="String" resultType="com.ddwuproj.dto.CarTriage">
        select *
        from "CarTriage"
        where sido=#{arg0}
        <if test='arg1 != "전체"'>
            and gungu LIKE CONCAT('%', #{arg1}, '%')
        </if>
    </select>

    <select id="getAllClinic" resultType="com.ddwuproj.dto.Clinic">
        select *
        from "Clinic"
    </select>
    <select id="getClinicList" parameterType="String" resultType="com.ddwuproj.dto.Clinic">
        select *
        from "Clinic"
        where sido=#{arg0}
        <if test='arg1 != "전체"'>
            and gungu LIKE CONCAT('%', #{arg1}, '%')
        </if>
    </select>

    <select id="getAllHospital" resultType="com.ddwuproj.dto.Hospital">
        select *
        from "Hospital"
    </select>
    <select id="getHospitalList" parameterType="String" resultType="com.ddwuproj.dto.Hospital">
        select *
        from "Hospital"
        where sido=#{arg0}
            <if test='arg1 != "전체"'>
               and gungu LIKE CONCAT('%', #{arg1}, '%')
            </if>
    </select>

    <select id="getAllTriage" resultType="com.ddwuproj.dto.Triage">
        select *
        from "Triage"
    </select>
    <select id="getTriageList" parameterType="String" resultType="com.ddwuproj.dto.Triage">
        select *
        from "Triage"
        where sido=#{arg0}
        <if test='arg1 != "전체"'>
            and gungu LIKE CONCAT('%', #{arg1}, '%')
        </if>
    </select>



</mapper>